.text
    font-size: 12px

.container
    background-color: red
    height: 200px
    width: 300px
    margin: 0 auto
    color: red

h1
    color: red
    font-weight: bold

#login
    height: 200px
    width: 200px
    color: blue
    font-weight: bold
