@import 'variables'

.text
    font-size: 12px

h1
    color: red
    font-weight: bold

#login
    width: 200px
    color: red
    font-weight: bold
header
    background-color: #817575
    padding: 20px
    text-align: center

h1
    margin: 0

nav ul
    list-style-type: none
    margin: 0
    padding: 0

nav li
    display: inline-block
    margin-right: 10px

nav li a
    text-decoration: none
    color: #333

nav li a:hover
    color: #ff0000

navbar  navbar-expand-lg bg-body-tertiary
    background-color: black !important
